/** Style of Dropdown Select **/
#selector {
	background-color: #fff;
}

.dropDown {
	border-radius: 5px;
	margin-top: 10px;
	border: .5px solid #13b1cd;
	background-color: #fff;
	height: auto;
	width: 100%;
	position: absolute;
	overflow: auto;
		scrollbar-width: thin;
		display: none;

		transform: translate(0px, -9px);
		transition: .5s;
}

.dropDown::-webkit-scrollbar {
	width: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dropDown::-webkit-scrollbar-thumb {
	background-color: #13b1cd;
	border-radius: 5px;
}

.item {
	height: 30px;
	padding: 0px 5px;
	box-sizing: border-box;
	transition: 1s;
	cursor: pointer;
	color:  #656565;
}

.item:hover {
	background-color: #13b1cd;
	padding-left: 7px;
	transition: 1s;
}
/** End  **/

.center-image {
	float: none;
	margin: auto;
}

.static-img-height {
	max-height: 252px;
}

.img-height {
	height: 252px;
}

.ajust-img {
	position: relative;
}

.ajust-img-width {
	max-width: 100%;
}

.ajust-img-top-1 {
	top: -65px;
}

.ajust-img-top-2 {
	top: -25px;
}

.ajust-img-center {
	position: relative;
	top: -60px;
}

.sub-title-color-default {
	color: #656565;
}

@media (max-width: 1199px) {
	.img-height {
		height: 201.44px;
	}

	.ajust-img-top-1 {
		top:  -50px;
	}

	.ajust-img-top-2 {
		top:  -20px;
	}
}

@media (max-width: 991px) {
	.img-height {
		height: 151.25px;
	}

	.ajust-img-top-1 {
		top:  -40px;
	}

	.ajust-img-top-2 {
		top:  -15px;
	}
}

@media (max-width: 767px) {
	.img-height {
		height: max-content;
	}

	.ajust-img-top-1 {
		top: 0px;
	}

	.ajust-img-top-2 {
		top: 0px;
	}
}